<div id=formcontainer class='jumbotron'>
<%= image_tag 'replycardtitle.png', alt: 'Reply Card', class: 'subheading' %>
<%= form_tag rsvps_search_path, class: 'form-horizontal' do %>
  <hr>
  <div class='form-group'>
    <%= label_tag :lastname, 'Lastname' %>
    <%= text_field_tag :lastname, params[:lastname], placeholder: "Enter your lastname", class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= label_tag :code, 'RSVP Code' %>
    <%= text_field_tag :code, params[:code], placeholder: "Enter your RSVP Code", class: 'form-control' %>
  </div>
  <hr>
  <div class='form-group submit-area'>
    <%= submit_tag 'Proceed to RSVP', :name => nil, class: 'btn btn-default' %>
  </div>
<% end %>
</div>
