<%= form_for(@guest) do |f| %>
	<% if @guest.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>
			<ul>
			<% @guest.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :firstname %><br>
		<%= f.text_field :firstname %>
	</div>
	<div class="field">
		<%= f.label :lastname %><br>
		<%= f.text_field :lastname %>
	</div>
	<div class="field">
		<%= f.label :dietaryreq %><br>
		<%= f.text_area :dietaryreq %>
	</div>
	<div class="field">
		<%= f.label :attending %><br>
		<%= f.check_box :attending %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
