<div class='jumbotron'>
<%= image_tag 'replycardtitle.png', class: 'subheading' %>

<%= form_tag(rsvp_update_guests_path, method: "patch") do %>
  <hr>
	<% @guests.each do |guest| %>
		<%= fields_for "guests[]", guest do |f| %>
			<% if guest.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(guest.errors.count, "error") %> prohibited this guest from being saved:</h2>
					<ul>
            <%= guest.errors.full_messages.each { |message| message } %>
					</ul>
				</div>
			<% end %>

      <h3><%= "#{guest.firstname} #{guest.lastname}" %></h3>
      <%= f.hidden_field :firstname %>
      <%= f.hidden_field :lastname %>
      <%= f.hidden_field :responded, value: true %>

      <div class="field">
        <%= f.label :attending, "Will #{guest.firstname} be attending?" %><br>
        <%= f.select :attending, options_for_select([['Yes', 'true'], ['No', 'false']], 'true'), class: 'form-control' %>
        
      </div>

      <div class="field">
        <%= f.label "Dietary Requirements" %><br>
        <%= f.text_area :dietaryreq, class: 'form-control' %>
      </div>

		<% end %>
  <hr>
	<% end %>
  <div class="actions submit-area">
    <%= submit_tag 'Submit RSVP' , class: 'btn btn-default' %>
  </div>
	<% end %>
</div>
