<h1>Unlink List</h1>


<%= form_tag(guests_unlink_guests_path, method: "patch") do %>
  <div class="actions">
    <%= submit_tag 'Unlink' , class: 'btn btn-default' %>
  </div>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Unlink?</th>
      </tr>
    </thead>

    <tbody>
    <% @guests.each do |guest| %>
      <%= fields_for "guests[]", guest do |f| %>
        <tr>
          <td><%= guest.firstname %></td>
          <td><%= guest.lastname %></td>
          <td><%= f.check_box :selected, checked: false %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>
<br>

