<p id="notice"><%= notice %></p>

<h1>Guest stats</h1>

<div class='jumbotron'>
  <h4>Number of Guests: <%= @guests.count %></h4>
  <h4>Attending: <%= @guests.attending.count %></h4>
  <h4>Not attending: <%= @guests.not_attending.count %></h4>
  <h4>Responded: <%= @guests.responded.count %></h4>
</div>

<h1>Guest List</h1>

<div>
  <%= link_to 'Download guest list', guests_export_path, class: 'btn btn-default' %>
  <%= link_to 'Upload guest list', guests_browse_file_path, class: 'btn btn-default' %>
  <%= link_to 'Add guest', new_guest_path, class: 'btn btn-default' %>
  <%= link_to 'Link guests', guests_not_linked_path, class: 'btn btn-default' %>
  <%= link_to 'Delete RSVPs from guests', guests_linked_path, class: 'btn btn-default' %>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Dietary</th>
      <th>Attending</th>
      <th>Responded</th>
      <th>RSVP Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.firstname %></td>
        <td><%= guest.lastname %></td>
        <td><%= guest.responded ? (!guest.dietaryreq.blank?).humanize : '' %></td>
        <td><%= guest.attending.nil? ? '' : guest.attending.humanize %></td>
        <td><%= guest.responded.nil? ? 'No' : guest.responded.humanize %></td>
        <td><%= guest.rsvp ? (link_to guest.rsvp.code, rsvp_guests_path(guest.rsvp.code)) : 'None' %></td>
        <td><%= link_to 'Show', guest %></td>
        <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

