<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @guest.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @guest.lastname %>
</p>

<p>
  <strong>Dietaryreq:</strong>
  <%= @guest.dietaryreq %>
</p>

<p>
  <strong>Attending:</strong>
  <%= @guest.attending %>
</p>

<p>
  <strong>RSVP Code:</strong>
  <%= @guest.rsvp.code if @guest.rsvp %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
