<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Eventtype:</strong>
  <%= @event.eventtype %>
</p>

<p>
  <strong>Eventdate:</strong>
  <%= @event.eventdate %>
</p>

<p>
  <strong>Rsvpdate:</strong>
  <%= @event.rsvpdate %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
