<p id="notice"><%= notice %></p>

<h1>Reply cards</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Code</th>
      <th>Guests</th>
      <th><%= link_to 'Download all reply cards', rsvps_replycards_pdf_path %></th>
    </tr>
  </thead>

  <tbody>
    <% @rsvps.each do |rsvp| %>
      <tr>
        <td><%= link_to rsvp.code, rsvp_path(rsvp.code) %></td>
        <td>
          <% if rsvp.guests.any? %>
            <% rsvp.guests.each do |guest| %>
              <%= "#{guest.lastname}, #{guest.firstname}" %>
              <br>
            <% end %>
          <% end %>

        </td>

        <td><%= link_to 'Download Reply Card', replycard_path(rsvp.code) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rsvp', new_rsvp_path %>
