@import "bootstrap-sprockets";
@import "bootstrap";

  .form-control:focus, textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus
  .form-control:active, textarea:active, input:active, input[type]:active, .uneditable-input:active {   
    border-color: rgba(210, 127, 123, 0.8);
    box-shadow: 0 1px 1px rgba(210, 127, 123, 0.075) inset, 0 0 8px rgba(210, 126, 123, 0.6);
    outline: 0 none;
    background: #fff4e9; 
  }

  .form-control, .form-control:active
  {
    background: #fff4e9; 
    -webkit-box-shadow: inset 0px 0px 0px 0px #dddddd;
    -moz-box-shadow: inset 0px 0px 0px 0px #dddddd;
    box-shadow: inset 0px 0px 0px 0px #dddddd;
    border-color: #604e45;
  }

  select {
    height: 30px;
    border: 0;
    outline: 1px inset #604e45;
    outline-offset: -1px;
    background: #fff4e9; 
  }

  hr, .btn 
  {
    background: #fff4e9;  
    color: #604e45;
    border-color: #604e45;
  }

  .submit-area
  {
    text-align: right;
  }

  h1 {
    text-align: center;
  }

@media screen {
  body {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
      font-weight: 300;
  }

  .subheading {
    width: 100%;
    max-width: 400px;
    text-align: center;
  }

  .container {
  }

  .jumbotron {
    background: #fff4e9;
    color: #604e45;
    max-width: 700px;
    margin: 0px auto;
  }

  .inner {
    padding: 50px;
  }

  * {
    border-radius: 0 !important;
  }
}

@media screen and (max-device-width: 667px) 
{
  html, body {
  }

  .btn, .subheading, select
  {
    width: 100%;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  input  {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
  }

  .inner {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .jumbotron {
    color: #604e45;
    padding: 40px;
    margin: 30px;
  }

  * {
    border-radius: 0 !important;
  }
}
