<!DOCTYPE html>
<html>
<head>
  <title>Jasper & Phoebe's wedding</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="inner">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= yield %>
    <% # debug(params) if Rails.env.development? %>
    </div>
  </div>
</body>
</html>
